:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #FAFAF8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  gap: 11px;
  background-color: white;
}

header>img{
  width: 70px;
  height: 70px;
}

main {
  padding: 40px 30px 10px;
}
.add-ingredent-form {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.add-ingredent-form > input {
  border-radius: 6px;
  padding: 9px 13px;
  min-width: 200px; 
}

.add-ingredent-form > button {
  border-radius: 6px;
  background-color: black;
  color: white;
  width: 150px;
  font-size: 1rem;
  
}

.add-ingredent-form > button:hover {
  cursor: pointer;
  width: 152px;
}